		.input__wrapper {
		width: 100%;
		position: relative;
		margin: 15px 0;
		text-align: center;
		}

		.input__file {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		}

		.input__file-icon-wrapper {
		height: 60px;
		width: 60px;
		margin-right: 15px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
		border-right: 1px solid #fff;
		}

		.input__file-button-text {
		line-height: 1;
		margin-top: 1px;
		}

		.input__file-button {
		width: 100%;
		max-width: 290px;
		height: 60px;
		background: #fff;
		color: black;
		font-size: 1.125rem;
		font-weight: 700;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-box-pack: start;
			-ms-flex-pack: start;
				justify-content: flex-start;
		border-radius: 10px;
		border: 2px solid black;
		cursor: pointer;
		margin: 0 auto;
}

      .top-panel {
        background-color: #DCDDDF url(https://cssdeck.com/uploads/media/items/7/7AF2Qzt.png); /* задаем цвет фона */
        color: #000000; /* задаем цвет текста */
        padding: 10px; /* добавляем небольшой отступ внутри панели */
        display: flex; /* указываем, что элементы верхней панели должны быть расположены в одну строку */
        justify-content: space-between; /* выравниваем элементы по краям */
        align-items: center; /* центрируем элементы по вертикали */ /* добавляем черную рамку снизу */
      }

      /* стили для кнопки "назад" */
      .back-button {
        background-color: #ffffff; /* задаем цвет фона */
        color: #000000; /* задаем цвет текста */
        border: none; /* убираем границу кнопки */
        padding: 10px; /* добавляем небольшой отступ внутри кнопки */
        font-size: 16px; /* задаем размер текста */
        cursor: pointer; /* добавляем курсор при наведении */
        transition: background-color 0.3s ease; /* добавляем плавный переход цвета фона */
      }

      /* стили для кнопки "назад" при наведении */
      .back-button:hover {
        background-color: whitesmoke; /* меняем цвет фона при наведении */
        color: #black; /* меняем цвет текста при наведении */
      }